<h3 class="title is-5">Wallets</h3>

<div class="wallets">
  <form method="post" action="/wallets" >
    <div class="field has-addons">
      <p class="control is-expanded">
        <input class="input" name="name" id="wallet-name" type="text" placeholder="Wallet name">
      </p>
      <p class="control">
        <button type="submit" class="button is-primary">Save</button>
      </p>
    </div>
  </form>

  <div class="table-container mt-6">
    <table class="table is-fullwidth">
      <thead>
        <tr >
          <th>Wallet</th>
          <th width="10%">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% data.wallets.forEach(function (wallet) { %>
          <tr >
            <td><%= wallet.name %></td>
            <td width="10%" class="has-text-right">
              <a href="/wallets/delete/<%= wallet.id %>" class="button is-danger is-small">Del</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div> <!-- .wallets -->
