
@media print {
  .is-hidden-print {
    display: none !important;
  }

  .select::after {
    border-color: transparent !important;
  }
}

.tabs.is-centered {
  position: sticky;
  top: 0;
  background: white;
  z-index: 50;
}

.entry {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}
