@import url('https://cdn.jsdelivr.net/gh/rogeriotaques/boring-css/boring.css');
@import url('https://cdn.jsdelivr.net/gh/rogeriotaques/boring-css/simple-grid.css');

:root {
  --spacing: 8px;
}

html,
body,
#app {
  background-color: whitesmoke;
  height: 100vh;
  margin: 0;
  padding: 0;
}

table {
  tbody tr:not(.table__empty):hover td {
    background-color: #e5e5e5;
  }
}

button, .button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 48px;

  &.is-auto-width {
    width: auto;
    min-width: min-content;
  }

  &.has-tooltip {
    cursor: pointer !important;
  }
}

.input {
  input,
  select {
    height: 48px;
  }

  &__addon {
    min-width: 54px;

    &--icon {
      display: flex !important;
      align-items: center;
      height: 48px;
    }
  }

  input:active,
  input:focus,
  select:active,
  select:focus {
    background-color: var(--c-warning-background);
  }
}

.is {
  &-full-width {
    display: block;
    width: calc(100% - 8px);
  }

  &-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-shadowless {
    box-shadow: none;
  }

  &-pulled-right {
    margin-left: auto;
  }
}

.has {
  &-text {
    &-centered {
      text-align: center !important;
    }

    &-right {
      text-align: right !important;
    }

    &-left {
      text-align: left !important;
    }
  }
}

.title + .subtitle {
  margin-top: calc(var(--spacing) * 3 * -1);
  margin-bottom: calc(var(--spacing) * 2);
}

.Vue-Toastification {
  &__toast-body {
    color: var(--c-white);
    text-align: center;
  }
}
