:root {
  --popper-theme-background-color: #ffffff;
  --popper-theme-background-color-hover: #ffffff;
  --popper-theme-text-color: #333333;
  --popper-theme-border-width: var(--s-border-width);
  --popper-theme-border-style: solid;
  --popper-theme-border-color: var(--c-grey-dark);
  --popper-theme-border-radius: 8px;
  --popper-theme-padding: 16px;
  --popper-theme-box-shadow: var(--s-box-shadow) var(--c-grey-dark);
}
