<h3 class="title is-5">Database</h3>

<div class="database">
  <div class="block" >
    <p >File: <%= pathToDb %></p>
  </div>
  <div class="buttons block">
    <a href="/vacuum" class="button is-small">Vacuum</a>
    <a href="/backup" class="button is-info is-small">Backup</a>
  </div>
</div> <!-- .database -->
